@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200&display=swap");
@import url("//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none; }

.container {
  width: 100vw;
  height: 100vh;
  background-color: #424242;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container .form-cardapio {
    width: 70%;
    height: 98%;
    background-color: #e4f4f4;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2.5rem; }
    .container .form-cardapio .header-container {
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .container .form-cardapio .header-container .header-logo {
        width: 25%; }
      .container .form-cardapio .header-container .header-title {
        width: 65%;
        color: #054d2a;
        text-shadow: 1px 1px 5px #424242;
        font-size: 2.5rem; }
    .container .form-cardapio .opcao-cardapio-container {
      width: 100%;
      height: 90%;
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1rem; }
      .container .form-cardapio .opcao-cardapio-container .span_tp_cardapio {
        width: 75%;
        height: 5%;
        gap: 2%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #054d2a;
        font-size: 1.2rem;
        font-weight: 500; }
      .container .form-cardapio .opcao-cardapio-container #opcao {
        width: 50%;
        height: 10%;
        padding-left: 1.5rem;
        font-family: "Poppins", sans-serif;
        color: #054d2a;
        border: none;
        box-shadow: 2px 2px 5px #1b1b1b;
        border-radius: 0.5rem;
        background-color: #f6fff8;
        letter-spacing: 0.1rem; }
        .container .form-cardapio .opcao-cardapio-container #opcao.opcao-data {
          width: 50%;
          height: 100%;
          color: #1b1b1b;
          font-weight: 270;
          cursor: text; }
        .container .form-cardapio .opcao-cardapio-container #opcao:focus {
          border: 2px solid #054d2a;
          background-color: #e4f4f4; }
      .container .form-cardapio .opcao-cardapio-container .span-dt-cardapio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 50%;
        height: 10%;
        text-align: center; }
        .container .form-cardapio .opcao-cardapio-container .span-dt-cardapio .title-dt-refeicao {
          position: relative;
          right: 1.5rem;
          text-shadow: 2px 2px 10px #1b1b1b;
          font-family: "Lato", sans-serif;
          font-size: 1rem;
          color: #054d2a;
          font-weight: 500; }
      .container .form-cardapio .opcao-cardapio-container ::placeholder {
        color: #1b1b1b;
        font-weight: 290;
        letter-spacing: 0.1rem; }
      .container .form-cardapio .opcao-cardapio-container .span-resultado-envio {
        display: none;
        width: 75%;
        height: 10%;
        box-shadow: 2px 2px 10px #424242;
        border-radius: 0.5rem;
        font-family: "Poppins", sans-serif; }
      .container .form-cardapio .opcao-cardapio-container .botoes {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .container .form-cardapio .opcao-cardapio-container .botoes .btn-form-cardapio {
          width: 45%;
          height: 95%;
          box-shadow: 2px 2px 10px #424242;
          border: 2px solid #0b844b;
          border-radius: 0.5rem;
          cursor: pointer;
          background-color: #0b844b;
          transition: 0.5s;
          color: #f6fff8;
          font-family: "Poppins", sans-serif;
          letter-spacing: 0.2rem;
          line-height: 1.2rem;
          overflow: hidden; }
          .container .form-cardapio .opcao-cardapio-container .botoes .btn-form-cardapio:hover {
            color: #e4f4f4;
            border: 2px solid #054d2a;
            background-color: #054d2a; }
        .container .form-cardapio .opcao-cardapio-container .botoes .btn-visualizar-cardapio {
          width: 45%;
          height: 95%;
          box-shadow: 2px 2px 10px #424242;
          border: 2px solid #424242;
          border-radius: 0.5rem;
          cursor: pointer;
          background-color: #424242;
          transition: 0.5s;
          color: #f6fff8;
          font-family: "Poppins", sans-serif;
          font-size: 0.9rem;
          letter-spacing: 0.2rem;
          line-height: 1rem;
          text-align: center;
          overflow: hidden;
          text-decoration: none; }
          .container .form-cardapio .opcao-cardapio-container .botoes .btn-visualizar-cardapio:hover {
            color: #e4f4f4;
            border: 2px solid #1b1b1b;
            background-color: #1b1b1b; }

/*# sourceMappingURL=enviar-cardapio.css.map */
